@media screen and (max-width: 1920px) {
  .app {
    width: 20vw;
    height: 35vh;
  }
}

@media screen and (max-width: 1220px) {
  .app {
    width: 50vw;
    height: 35vh;
  }
}

@media screen and (max-width: 400px) and (max-height: 1024px) {
  .app {
    width: 80vw;
    height: 35vh;
  }
}

@media screen and (max-width: 400px) and (max-height: 768px) {
  .app {
    width: 80vw;
    height: 40vh;
  }
}
