<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/index.css" type="text/css">
    <link rel="stylesheet" href="/responsividade.css" type="text/css">
  </head>
  <body>
    <div class="app">
      <label for="name"
        >Name:
        <input
          id="name"
          name="name"
          type="text"
          required
          placeholder="Digite seu nome completo"
        />
      </label>

      <label for="email"
        >Email:
        <input
          id="email"
          name="email"
          type="email"
          required
          placeholder="Digite seu Email"
        />
      </label>

      <button id="submit" type="submit">Subscribe</button>
    </div>

    <script>
      var button = document.getElementById("submit");

      var emailUser = document.getElementById("email");
      var nameUser = document.getElementById("name");

      var error = null;

      button.addEventListener("click", async (e) => {
        console.log("Uepa");
        await fetch("http://localhost:3000", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          mode: "same-origin",
          body: JSON.stringify({
            name: nameUser.value,
            email: emailUser.value,
          }),
        })
          .then(async (a) => {
            nameUser.value = "";
            emailUser.value = "";
          })
          .catch((e) => {
            console.log("error: ", e);
            error = true;
          });
      });
    </script>
  </body>
</html>
